ion-menu::part(backdrop) {
  background-color: var(--ion-color-dark);
}

ion-menu::part(container) {
  border-radius: 20px 0px 0px 20px;
  box-shadow: 4px 0px 16px rgba(255, 255, 255, 0.18);
}

ion-menu > ion-content.ion-padding {
  --background: #4b4b4b;
  ion-item {
    --background: #4b4b4b;
  }
}
